html,
body,
#root {
  padding: 0;
  margin: 0;
  -webkit-app-region: drag;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#6c7989b0, #434b55b0);
}
